/*IMPORT*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "function";
@import "valori";

/*MIXIN*/
@mixin bott {
    margin-bottom: $pad;
    font-size: 1.1em;
    box-shadow: 2px 2px 3px #666;
    @media screen and (max-width: 991px) {
        padding: 15px 50px;
        margin-bottom: 10px;
    }
}


body {
    font-size: 1.2rem;
    line-height: 1.7;
}

nav,
footer {
    background-color: $bg-color-dark;
    color: color-contrast($bg-color-dark);
    box-shadow: 2px 2px 3px #666;
}

#navigazione  {
    padding-top: $pad;
    padding-bottom: $pad;
    font-size: 1.3em;
}

#logo {
    font-size: 1.1em;
    font-style:italic;
}
main {
    background-color: $bg-color-light;
    color: color-contrast($bg-color-light);
}

.redit {
    width: 97%;
    height: 340px;
}

h2 {
    font-size: 2.1rem;
    padding-bottom: 10px;
    text-align: center;
}

h3 {text-align: center;}

img {
    width: 100%;
    height: auto;
    border-radius: 2%;
}


section {
    margin-bottom: $main-marg;
}

section:first-of-type {
    margin-top: $main-marg;
}


.prima {
    background-color: $bg-secondary;
    color: color-contrast($bg-color-light);
    text-align: center;
}

.bottone {
    @include bott();
background-color: $colore-bot;
color: color-contrast($bg-color-dark);
padding: 10px 30px;
&:hover {
    background-color: white;
    color: $colore-bot;
}
}

.sapciale {
    @include bott();
    background-color: white;
    color: $colore-bot;
    font-weight: 500;
    padding: 11px 40px;
    &:hover {
        background-color: $colore-bot;
color: color-contrast($bg-color-dark);
    }
    @media screen and (max-width: 991px) {
        padding-right: 60px;
        padding-left: 60px;
}}

.cambio {
    @media screen and (max-width: 991px) {
        margin-top: 15px;
    }
}

.basso, .present  {
    margin-top: $pad;
}

section:nth-child(2) {
    padding: 70px;
}

.mezzo  {
    padding-top: $pad;
}

section:nth-child(3) {
    margin-bottom: 60px;
}

.separ {
    padding-bottom: 15px;
    @media screen and(max-width: 991px) {
        margin-bottom: $pad;
    }
}

.icone {
    font-size: 1.7em;
    color: $colore-bot;
}

.numero {
    font-size: 2.1em;
    color: $colore-bot;
    text-shadow: $sfumature;
}

.part {
    width: 166px;
    height: 110px;
}

.partner {
    margin-bottom: 65px;
}

.Pr {text-align: center;}


.abbas {padding-top: 45px;
    padding-left: ($pad / 2);
    @media screen and (max-width:1399px) {
        font-size: 0.8em;
    }
    @media screen and (max-width:1199px) {
        font-size: 0.7em;
        padding-top: 20px;
    }
    @media screen and (max-width:991px) {
        font-size: 0.9em;
    }

}

.resiz {
    font-size: 0.8em;
    font-style: italic;
}

.test {
    margin-top: ($pad / 2);
}

.ciaf {
    margin-bottom: ($pad / 2);
}

.clamb {
   width: 40%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 100%;
}

.testim {
    color: rgb(0, 174, 255);
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    padding-left: 15%;
    border: 3px solid black;
    width: 50%;
    @media screen and(max-width: 1205px) {
        font-size: 1em;
        padding-left: 0;
    }
    @media screen and(min-width: 768px) and(max-width:1002px) {
        font-size: 0.8em;
        padding-left: 0;
    }
}

.carousel-indicators {
    position: absolute;
    top: 108%;
  }

.Druf  {
    @media screen and(max-width: 767px) {
        margin-bottom: 40px;
    }
}


.Midi  {
    @media screen and(max-width: 991px) {
margin-top: $pad;
    }}

.dice {
    margin-bottom: 45px;
}

.imagg {
    margin-left: 30px;
    margin-right: 30px;
}

footer {
    padding: 50px 50px;
   text-transform: uppercase;
   text-align: center;
   font-size: 0.8em;
}

.allineam, .piccolo {
    @media screen and(max-width: 991px) {
       text-align: center;
     }
}

.Ipied {
    padding-top: 20px;
    padding-bottom: 55px;
    font-size: 1.2em;
}

.Su {
    color: white;
    font-size: 1.7em;
    &:hover {
        color: $colore-bot;
    }
}