body {
    font-size: 1.3em;
}

h1 {
    text-align: center;
    font-size: 1.4em;
    margin: 30px;
    text-transform: uppercase;
    color: rgb(9, 49, 9);
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

th,
td {
    padding: 10px 15px;
    text-align: center;
}

caption, td, th {
    border: 2px solid green;
    padding: 15px 20px;
}

#dato10,
#dato11,
#dato12 {
    color: red;
}

#autore {
    background-color: aquamarine;
    text-align: center;
    color: rgb(228, 160, 219);
}

button {
    color: green;
    border-color: green;
    padding: 10px 15px;
    font-size: 0.8em;
}