body{
    font-size: 1em;
}

.container {text-align: center;}
.titolo {
    text-align: center;
    color: rgb(156, 12, 12);
}

.container.secondo {
    background-color: blue;
    color: white;
    padding: 16px;
}

.terzo {
    background-color: yellow;
    color: black;
}

.rigatre, .ciao,.quat, .tre{
    border: 1px solid black;
}

h2 {text-align: center;}

.quattro {
    background-color: green;
}

.cinque {
    background-color: red;
    color: white;
}

.diverso {
    margin-top: 30px;
   
}

.tre {
     padding: 16px;
}

.esterne {
    background-color: rgb(44, 156, 221);
}

.int {
    background-color: gray;
}

.esterne, .int {
    border: 1px solid black;
    color: white;
    padding: 16px;
}

.bello {
    border: 1px solid black;
}

.ultimo {
    background-color: black;
    color: white;
    padding: 16px;
}